########################################
## <summary>
##	Execute the steam program in the steam domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`steam_domtrans',`
	gen_require(`
		type steam_t, steam_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, steam_exec_t, steam_t)
')
